@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;500&family=Chakra+Petch:wght@300;400;700&family=EB+Garamond:wght@400;700;800&family=Nunito:wght@400;700&family=Roboto+Slab:wght@300;500&display=swap');

/* azul: #0089e4 #2597f4 #4fafff  naranja: #e9791a
  #ff9a3e*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #0089e4;
}

.fotoMia{
    width: 200px;
}

.imgLeng{
    width: 200px;
}

.contenedorInformacion{
    margin-top: 200px;
}

.parrafoMio{
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedorAprendizajes{
    margin: auto;
    margin-inline: 50px;
    padding: 20px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2597f4;
    border: 10%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.informacionAprendizajes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.imgDeProg{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 575.98px){
    
    .imgLeng{
        width: 100px;
    }

    .contenedorInformacion{
        margin: auto;
        margin-top: 50px;
        padding: 20px;
    }

    .informacionMia{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (min-width: 576px) and (max-width: 767.98px){
    
    .imgLeng{
        width: 100px;
    }

    .contenedorInformacion{
        margin: auto;
        margin-top: 50px;
    }

    .informacionMia{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

@media (min0-width: 768.98px) and (max-width: 1199.98px){
    
}


/**animista**/

.swing-in-top-fwd{-webkit-animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.32,1.275) both;animation:swing-in-top-fwd .5s cubic-bezier(.175,.885,.32,1.275) both}

 @-webkit-keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}@keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}