@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@400;500&family=Chakra+Petch:wght@300;400;700&family=EB+Garamond:wght@400;700;800&family=Nunito:wght@400;700&family=Roboto+Slab:wght@300;500&display=swap');

/* azul: #0089e4 #2597f4 #4fafff  naranja: #e9791a
  #ff9a3e*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

.navbar{
    background-color: rgb(0, 137, 228);
    font-size: 20px;
}

.nav-link:hover{
    color: whitesmoke;
}

.fotoMia{
    width: 200px;
    filter: drop-shadow(10px 7px 10px rgb(0, 137, 228));
}


.imgLeng{
    width: 200px;
}

.contenedorInformacion{
    margin-top: 200px;
}

.parrafoMio{
    display: flex;
    justify-content: center;
    align-items: center;
}


.contenedorAprendizajes{
    margin: auto;
    margin-inline: 50px;
    padding: 20px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 137, 228, 0.4);
    border-radius: 10% 10% 10% 10% / 40% 40% 40% 40%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


.informacionAprendizajes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.imgDeProg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorProyectos{
    margin: auto;
    margin-inline: 50px;
    padding: 20px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 137, 228, 0.4);
    border-radius: 10% 10% 10% 10% / 40% 40% 40% 40%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.infoProyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedorContacto{
    padding: 20px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 137, 228);
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.contactolinks{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listaLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.iconos{
    font-size: 80px;
    color: #343a40;
}

.iconos:hover{
    color: whitesmoke;
    font-size: 100px;
    transition: .7s;
}

.hechoPor{
    color: whitesmoke;
}

.hechoPor:hover{
    text-decoration: none;
    font-size: 30px;
    transition: .7s;
}



@media (max-width: 575.98px){
    
    .imgLeng{
        width: 100px;
    }

    .contenedorInformacion{
        margin: auto;
        margin-top: 50px;
        padding: 20px;
    }

    .informacionMia{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .parrafoMio{
        text-align: center;
    }

    .contenedorAprendizajes{
        margin-inline: 20px;
        text-align: center;
    }

    .contenedorProyectos{
        margin-inline: 20px;
        text-align: center;
    }

    .infoProyectos{
        margin-inline: 20px;
        text-align: center;
    }    

    .contenedorContacto{
        text-align: center;
    }

}

@media (min-width: 576px) and (max-width: 767.98px){
    
    .imgLeng{
        width: 100px;
    }

    .contenedorInformacion{
        margin: auto;
        margin-top: 50px;
    }

    .informacionMia{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .parrafoMio{
        text-align: center;
    }

    .contenedorAprendizajes{
        margin-inline: 20px;
        text-align: center;
    }

    .contenedorProyectos{
        margin-inline: 20px;
        text-align: center;
    }

    .contenedorContacto{
        text-align: center;
    }


}

@media (min0-width: 768.98px) and (max-width: 1199.98px){
    
}


/**animista**/

.swirl-in-bck{animation:swirl-in-bck .65s ease-out both}
@keyframes swirl-in-bck{0%{transform:rotate(540deg) scale(5);opacity:0}100%{transform:rotate(0) scale(1);opacity:1}}

.text-focus-in{animation:text-focus-in 1.5s cubic-bezier(.55,.085,.68,.53) both}
@keyframes text-focus-in{0%{filter:blur(12px);opacity:0}100%{filter:blur(0);opacity:1}}

.focus-in-expand-fwd{animation:focus-in-expand-fwd 2.8s cubic-bezier(.25,.46,.45,.94) both}
@keyframes focus-in-expand-fwd{0%{letter-spacing:-.5em;transform:translateZ(-800px);filter:blur(12px);opacity:0}100%{transform:translateZ(0);filter:blur(0);opacity:1}}

.vibrate-1{animation:vibrate-1 1.5s linear infinite both}
@keyframes vibrate-1{0%{transform:translate(0)}20%{transform:translate(-2px,2px)}40%{transform:translate(-2px,-2px)}60%{transform:translate(2px,2px)}80%{transform:translate(2px,-2px)}100%{transform:translate(0)}}